<form [formGroup]="eventFieldForm" (ngSubmit)="onSubmit()">
  <label>
    Name:
    <input type="text" formControlName="name" required />
  </label>
  <div *ngIf="error">{{ error }}</div>
  <select class="custom-select" formControlName="type" required>
    <option value="" disabled>Choose a field type</option>
    <option *ngFor="let type of fieldTypes" [ngValue]="type.value">{{
      type.label
    }}</option>
  </select>

  <button type="submit" class="btn btn-danger btn-lg btn-block">Submit</button>
</form>
