<h2>
  Your Calendars
</h2>

<div>
  <p>Pick a calendar:</p>
  <ul class="calendars">
    <button
      class="calendar"
      *ngFor="let calendar of calendars$ | async"
      (click)="openCalendar(calendar.id, calendar.name)"
    >
      <span>{{ calendar.name }}</span>
    </button>
  </ul>
</div>

<div>
  Make a new calendar

  <div>
    <label>
      Calendar Name:
      <input type="text" [formControl]="name" required />
    </label>
    <button (click)="saveCalendarName()" class="btn ">
      Create
    </button>
  </div>
</div>
