<p>event works!</p>

<!-- <div>
  <ul>
    <li *ngFor="let field of eventFields">
      Field name: {{ field.name }} Type: {{ field.type }}
      <input type="text" value="{{ field.value }}" />
    </li>
  </ul>
</div> -->

<form [formGroup]="formData" (ngSubmit)="onSave()">
  <div *ngFor="let field of eventFields">
    <label>
      {{ field.name }}
      <input type="text" [formControlName]="field.name" required />
    </label>
  </div>

  <button type="submit" class="btn btn-danger btn-lg btn-block">Save</button>
</form>
