<form [formGroup]="eventTypeSelector">
  <label>
    Event Type
    <select class="custom-select" formControlName="type">
      <option [ngValue]="'default'">Default</option>
      <option *ngFor="let type of types$ | async" [ngValue]="type.id">{{
        type.name
      }}</option>
    </select>
  </label>
</form>

<app-entry
  [entryData]="eventData"
  [entryModel]="eventModel$ | async"
  (handleSave)="handleSave($event)"
></app-entry>

<!-- <form [formGroup]="formData" (ngSubmit)="onSave()">
  <div *ngFor="let field of eventFields">
    <label>
      {{ field.name }}
      <input type="text" [formControlName]="field.name" required />
    </label>
  </div>

  <button type="submit" class="btn btn-danger btn-lg btn-block">Save</button>
</form> -->
