Types

<ul>
  <li *ngFor="let type of types$ | async | keyvalue">
    {{ type.value[titleField$ | async] }}
    <button
      routerLink="/calendars/{{ (calendar$ | async)?.name }}/type/{{
        type.key
      }}"
    >
      Edit
    </button>
    <button (click)="deleteType($event, type.key)">Delete</button>
  </li>
</ul>

<div class="buttons">
  <button routerLink="/calendars/{{ (calendar$ | async)?.name }}/add-type">
    Add Type
  </button>
  <button (click)="goBack()">Back</button>
</div>
