<style></style>

<h1>{{ title | uppercase }}</h1>
<nav>
  <a
    class="nav-item"
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a class="nav-item" routerLink="/calendars" routerLinkActive="active"
    >Calendars</a
  >
  <button (click)="logout()">Logout</button>
</nav>
<!-- <nav *ngIf="currentCalendar">
  <a routerLink="/calendars/{{ currentCalendar.name }}">{{ calendar.name }}</a>
  <a routerLink="/calendars/{{ currentCalendar.name }}/events-model">
    >Events Model
  </a>
</nav> -->

<div>
  <router-outlet></router-outlet>
</div>
