<div class="events">
  <nav>
    <a
      class="nav-item"
      routerLink="/calendars/{{ calendar.name }}/event-model"
      routerLinkActive="active"
      >Event Model
    </a>
    <a
      class="nav-item"
      routerLink="/calendars/{{ calendar.name }}/event/1"
      routerLinkActive="active"
      >Event
    </a>
  </nav>

  Events
  <ul>
    <li *ngFor="let event of events">
      {{ event.date }}
    </li>
  </ul>

  <div class="buttons">
    <button
      (click)="addEvent()"
      routerLink="/calendars/{{ calendar.name }}/add-event"
    >
      Add Event
    </button>
    <button (click)="goBack()">Back</button>
  </div>
</div>
