<div class="events">
  <nav>
    <a
      class="nav-item"
      routerLink="/calendars/{{ calendar.name }}/event-model"
      routerLinkActive="active"
      >Event Model
    </a>
    <a
      class="nav-item"
      routerLink="/calendars/{{ calendar.name }}/type-model"
      routerLinkActive="active"
      >Type Model
    </a>
    <a
      class="nav-item"
      routerLink="/calendars/{{ calendar.name }}/event/1"
      routerLinkActive="active"
      >Event
    </a>
    <a
      class="nav-item"
      routerLink="/calendars/{{ calendar.name }}/types"
      routerLinkActive="active"
      >Types
    </a>
  </nav>

  Events

  <ul>
    <a
      *ngFor="let event of events$ | async"
      routerLink="/calendars/{{ calendar.name }}/event/{{ event.id }}"
    >
      {{ event.name }}
    </a>
  </ul>

  <div class="buttons">
    <button routerLink="/calendars/{{ calendar.name }}/add-event">
      Add Event
    </button>
    <button (click)="goBack()">Back</button>
  </div>
</div>
