<div class="events">
  <nav>
    <a
      class="nav-item"
      routerLink="/calendars/{{ calendarName$ | async }}/event-model"
      routerLinkActive="active"
      >Event Model
    </a>
    <a
      class="nav-item"
      routerLink="/calendars/{{ calendarName$ | async }}/type-model"
      routerLinkActive="active"
      >Type Model
    </a>
    <a
      class="nav-item"
      routerLink="/calendars/{{ calendarName$ | async }}/types"
      routerLinkActive="active"
      >Types
    </a>
  </nav>

  Events

  <ul>
    <li *ngFor="let event of events$ | async | keyvalue">
      {{ event.value[titleField$ | async] || event.value.typeDisplayName }}
      <button
        routerLink="/calendars/{{ calendarName$ | async }}/event/{{
          event.key
        }}"
      >
        Edit
      </button>
      <button (click)="deleteEvent($event, event.key)">Delete</button>
    </li>
  </ul>

  <div class="buttons">
    <button routerLink="/calendars/{{ calendarName$ | async }}/add-event">
      Add Event
    </button>
    <button (click)="goBack()">Back</button>
    <button (click)="create()">Create</button>
  </div>
</div>
